html, body
  font-family base-font
  font-weight base-weight
  height 100%

body
  overflow-x hidden !important
  background-color base-color

.btn
  display inline-block
  cursor pointer
  outline none

a
  text-decoration none

*
	box-sizing border-box