.brand__section
	min-width 100vw
	min-height 100vh

	&:first-child
		background-image url(images + '/front__bg.jpg')
		background-size cover
		background-position center center
		background-repeat no-repeat
		
header
	width 100%
		
.brand__header
	position fixed
	
.flex
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-wrap wrap
	
.flex--between
	@extend .flex
	justify-content space-between
	
.flex--center
	@extend .flex
	justify-content center
	align-items: center
	
.brand__section .flex--center
	min-height 100vh
	
.brand__logo
	width 480px
	height 90px
	background-image url(images + '/brand__logo.svg')
	
.brand__description
	opacity 0.6
	color black
	font-size 36px
	line-height 49px
	font-weight 400
	
	span
		font-weight 700
		

.btn--order
	color black
	font-size 20px
	font-weight 400
	line-height 62px
	width 350px
	text-align center
	height 62px
	border 2px solid #0e4587
