clearfix()
	&::before, &::after
		content ''
		display table
		
	&::after
		clear both
		

webfont(family, file, weight, style = normal)
	path = fonts + '/' + family + '/' + file
	
	@font-face
		font-family family
		src url(path + '.eot')
		src url(path + '.eot?#iefix') format('embedded-opentype'),
		    url(path + '.woff') format('woff'), 
		    url(path + '.ttf') format('truetype')
		font-weight weight
		font-style style
